body {
    background-color: rgb(233, 233, 233);
    padding: 10px;
    height: 100%;
    background-image: url('/assets/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  